<!DOCTYPE html>
<html>

<!-- This file is just quickly hacked garbage, don't spend time reading it and trying to understand it -->

<head>
    <title>
        Todos App!
    </title>
</head>

<body>
    Logged in as {{ user.username }} <a href="{% url 'logout' %}">Log out</a>
    <h2>Your todos</h2>
    <ul>
        {% for own_todo in own_todos %}
        <li>
            {{ own_todo.description |safe }} 
            <button onclick="edit_todo({{own_todo.id}})">edit</button> 
            <form action="/todos/delete" method="GET" style="display: inline-block">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{own_todo.id}}" />
                <input type="submit" value="delete" />
            </form>
        </li>
        {% endfor %}
    </ul>
    <h2>Assigned todos</h2>
    <ul>
        {% for assigned_todo in assigned_todos %}
        <li>{{ assigned_todo.description |safe }} <a href="status?todo={{assigned_todo.id}}">{{assigned_todo.done|yesno:"completed,in progress"}}</a></li>
        {% endfor %}
    </ul>

    <form action="/todos/create" method="POST" id="the_form">
        {% csrf_token %}
        <input type="hidden" id="todo_id" name="id" value="0" />
        <div>
            <label for="assign_to">
                Assign to
            </label>
            <select name="assign_to" id="assign_to">
                {% for u in users %}
                <option value="{{u}}" {% if u.username == user.username %}selected="selected"{% endif %}>{{u}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="description">
                Todo:
            </label>
            <textarea name="description" id="description"></textarea>
        </div>
        <div>
            <input id="submit_button" type="submit" value="add" />
        </div>
    </form>
    <script>
        async function edit_todo(id) {
            const response = await fetch(`/todos/todo?id=${id}`);
            const todo = await response.json();
            document.getElementById('todo_id').value=todo.id;
            document.getElementById('assign_to').value=todo.assigned_to;
            document.getElementById('description').innerText=todo.description;
            document.getElementById('the_form').action = '/todos/update';
            document.getElementById('submit_button').value='update';
        }
    </script>
</body>

</html>